.TopBar{
    background-color: #282c34;
    color: white;
    margin-bottom: 30px;
}

.LOButton {
    background-color: #282c34;
    color: white;
    float: right;
    margin-top: 10px;
}

.Image{
    background-color: #282c34;
    color: white;
    left: 50%
}